build/
cmake-build-*/
bin/
out/
debug/
release/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt

*.exe
*.app
*.dSYM/
CityBuilder
CityBuilder.exe

*.o
*.obj
*.so
*.dylib
*.dll
*.a
*.lib

*.pdb
*.ilk
*.map

.vscode/
.vs/
*.vcxproj*
*.sln
*.suo
*.user
*.filters

DerivedData/

.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

*.tmp
*.temp
*.swp
*.swo
*~
.#*

*.log

saves/
*.save
screenshots/

*.prof
gmon.out


docs/html/
docs/latex/

# Package files
*.zip
*.tar.gz
*.rar


*.bak
*.backup